#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button{
  font-weight: bold;
  margin: 20px;
  border: 1px solid black;
}
input{
  padding: 10px;
  width: 200px;
  
}
